#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.alert {
  max-width: 500px;
  margin: 0 auto;
  word-wrap: break-word;
}

.nav-item {
  border: none;
}

.form-check {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.custom-icon-btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.custom-h6-label {
    margin: 0 16px 0 0;
    padding: 8px 0 8px 0;
    text-wrap: wrap;
}